body {
    background-color: #07e207; /* Color de fondo */
    padding: 20px; /* Espaciado alrededor del contenido */
  }
  
  h1 {
    text-align: center; /* Centra el texto */
  }
  
  .container {
    background-color: #f0f0f0; /* Color de fondo del contenedor */
    padding: 10px; /* Espaciado interno del contenedor */
    border-radius: 10px; /* Bordes redondeados */
    margin-bottom: 10px; /* Espaciado inferior entre contenedores */
    max-width: 700px; /* Ancho máximo del contenedor */
    max-height: 300px; /* Altura máxima del contenedor */
    overflow: auto; /* Añade barras de desplazamiento si el contenido excede las dimensiones */
  }
  
  .btn-success {
    background-color: #28a745; /* Color de fondo del botón */
    border-color: #28a745; /* Color del borde del botón */
  }
  
  .btn-success:hover {
    background-color: #218838; /* Color de fondo del botón al pasar el ratón por encima */
    border-color: #1e7e34; /* Color del borde del botón al pasar el ratón por encima */
  }
  
  /* Agrega estilo para alinear el código a la izquierda */
  .code-container {
    text-align: left;
    white-space: pre-wrap; /* Mantiene los saltos de línea y envuelve el texto */
    font-size: 16px; /* Tamaño de letra deseado */
  }
  
  /* Estilo para centrar la imagen */
  .exercise-image {
    display: block;
    margin: auto;
    max-width: 80%;
    max-height: 200px; /* Establece la altura máxima deseada */
    margin-top: 10px; /* Ajusta el margen superior según sea necesario */
  }
  